<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
    <!--spring整合MyBatis相关配置文件-->
    <!--1 关联数据库配置文件-->
    <context:property-placeholder location="classpath:database.properties"/>
    <!--    连接数据库连接池-->
    <!--    2 数据库连接池-->
    <!--数据库连接池
          dbcp 半自动化操作 不能自动连接
          c3p0 自动化操作（自动的加载配置文件 并且设置到对象里面）
      -->
    <!--data source-->
    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--    3 配置SqlSessionFactory对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--        注入数据库连接池-->
        <property name="dataSource" ref="datasource"/>
        <!--        配置MyBatis全局配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!--     4 扫描Dao接口包，动态实现Dao接口注入到Spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--    注入SQLSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--    给出需要扫描的接口包-->
        <property name="basePackage" value="com.zhangzhaoru.dao"/>
    </bean>

</beans>